@use "sass:math";
@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

:root {
  --bg-dark: #0f6289;
  --bg-light: #0077a6;
  --white: #fff;
  --grey-500: #576675;
  --blue-light: rgba(183, 229, 252, 0.57);
  --black: #000;
  --blue-gray-900: #0f172a;
  --primary: #83b974;
}

html {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  text-align: right;
  color: var(--white);
  font-size: rem(16);
}

.container {
  max-width: rem(1210);
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: rem(15) rem(53);
  background-color: var(--bg-light);
  border: none;
  border-radius: rem(6.835);
  font-weight: 700;
  line-height: percentage(20.505/16);
  color: var(--white);
  cursor: pointer;
  border: rem(1.709) solid transparent;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--primary);
      color: var(--blue-gray-900);
    }
  }

  &.black {
    background-color: var(--blue-gray-900);
    border-color: var(--black);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--primary);
      }
    }
  }
}

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(var(--bg-dark), 0.3);
  backdrop-filter: blur(rem(8));
  @include adaptiveValue("padding-top", 27, 8);
  @include adaptiveValue("padding-bottom", 27, 8);
  &__container {
    display: flex;
    justify-content: flex-end;
    a {
      img {
      }
      &:hover {
      }
      &:active {
      }
      &:focus {
      }
    }
  }
}

.highlighted-text {
  position: relative;
  font-size: 20px;
  line-height: 1.5em; /* Fixed line height */
  color: black;
}

.highlighted-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    0deg,
    rgba(255, 235, 59, 0.6),
    rgba(255, 235, 59, 0.6) calc(1.5em - 1px),
    transparent calc(1.5em)
  );
  z-index: -1; /* Sends background behind text */
  pointer-events: none;
}

@keyframes fadeInText {
  0% {
    opacity: 0.1;
    transform: translateX(-20px); /* Start lower */
    width: rem(100);
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at natural position */
    width: 100%;
  }
}

@keyframes textAnim {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes desktopAnim {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

.hero {
  overflow: hidden;
  @include adaptiveValue("padding-top", 150, 65);
  @include adaptiveValue("padding-bottom", 80, 30);
  position: relative;

  background: var(--bg-light)
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="964" height="780" viewBox="0 0 964 780" fill="none"><path d="M0 851C612 851 320.5 0 964 0H0V851Z" fill="%232A8079" fill-opacity="0.2"/></svg>')
    no-repeat top left;
  background-size: auto;

  @media (max-width: rem(992)) {
    &::before {
      content: "";
      display: none;
    }
  }

  hr {
    height: 25px;
    max-width: rem(1210);
    padding: 0 rem(15);
    margin: 0 auto;
    margin-top: rem(110);
    background: #d9d9d9;
  }

  &::before {
    content: "";
    background: url("../assets/hero-desktop.png") 0 0 no-repeat;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
    animation: desktopAnim 1s ease-out forwards;
  }

  &__quote {
    margin-top: rem(60);
    max-width: rem(580);
    max-height: rem(160);
    background-color: var(--white);
    border-radius: rem(15.6);
    padding: rem(21) rem(30);
    display: flex;
    align-items: flex-start;
    gap: rem(10);
    font-size: rem(18);
    color: var(--black);
    line-height: 1.6; /* Matches the height of the background */
    box-shadow: 0px 0px 19.513px 0px rgba(0, 0, 0, 0.15);
    animation: fadeInText 1.5s 0.6s ease-out forwards; /* Animation */
    opacity: 0.1;
    transform: translateX(-20px); /* Start lower */
    width: rem(100);

    @media (max-width: rem(992)){
        display: none;
    }

    p {
      opacity: 0;
      pointer-events: none;
      display: inline-block;
      animation: textAnim 1.5s 0.6s ease-out forwards; /* Animation */
    }

    svg {
      flex: 0 0 28px;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(30);

    @media (max-width: rem(992)) {
      display: block;
    }

    .right-hero {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      align-items: flex-start;

      @media (max-width: rem(992)) {
        align-items: center;
        text-align: center;
      }

      &__title {
        line-height: 110%;
        font-size: rem(48);
        @include adaptiveValue("font-size", 48, 32);
        font-weight: 700;
      }
      &__label {
        font-size: rem(80);
        @include adaptiveValue("font-size", 80, 42);
        font-weight: 700;
        line-height: 85%;
        padding: rem(19) rem(40);
        box-shadow: 0px 0px 17.087px 0px rgba(0, 0, 0, 0.15);
        background-color: var(--primary);
      }
      &__subtitle {
        max-width: 580px;
        font-size: rem(20);
        @include adaptiveValue("font-size", 20, 16);
        line-height: 160%;
      }
      &__btn {
        &:hover {
        }
        &:active {
        }
        &:focus {
        }
      }
      br {
      }
    }
  }
}

.web {
  background: var(--bg-light) url("../assets/bg-desktop.svg") center 200px
    no-repeat;
  &__container {
    img {
      box-shadow: 34.854px 29.626px 48.34px 0px rgba(16, 28, 66, 0.4);
    }
  }
}

.check {
  position: relative;
  @include adaptiveValue("padding-top", 150, 30);
  @include adaptiveValue("padding-bottom", 77, 30);

  background: var(--bg-light);

  .illustration {
    position: absolute;
    left: 0;
    top: -15%;
    z-index: 3;

    svg {
      width: 100%;
    }
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 5;

    .left {
      @media (max-width: rem(992)) {
        display: none;
      }
    }

    .chech__top.top-check {
      h2 {
        @include adaptiveValue("font-size", 80, 40);
        font-weight: 700;
        line-height: 85%;
      }

      p {
        margin-top: rem(15);
        @include adaptiveValue("font-size", 24, 18);
        font-weight: 400;
        line-height: 180%;
      }
    }

    .bottom-check {
      display: grid;
      grid-template-columns: repeat(2, minmax(rem(280), rem(380)));
      align-items: start;
      gap: rem(22.5);

      @media (max-width: rem(767)) {
        grid-template-columns: 1fr;
        margin-top: rem(30);
      }

      &__element {
        height: auto;
        border-radius: rem(20);
        box-shadow: 34.854px 29.626px 48.34px 0px rgba(16, 28, 66, 0.4);
        padding: rem(40) rem(30);
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20);
        color: var(--blue-gray-900);

        &:nth-child(1) {
          margin-top: rem(132);
        }

        &:nth-child(2) {
          margin-top: rem(0);
        }

        &:nth-child(4) {
          margin-top: rem(-100);
        }

        &:nth-child(3) {
          margin-top: rem(22.5);
        }

        @media (max-width: rem(767)) {
          &:nth-child(1) {
            margin-top: rem(0);
          }

          &:nth-child(2) {
            margin-top: rem(0);
          }

          &:nth-child(4) {
            margin-top: rem(0);
          }

          &:nth-child(3) {
            margin-top: rem(0);
          }
        }

        .icon {
          width: rem(82);
          height: rem(82);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: rem(20);
          background-color: var(--bg-light);
          transition: all 0.3s ease 0s;

          @media (any-hover: hover) {
            &:hover {
              width: rem(100);
              height: rem(100);
            }
          }
        }
        .title {
          font-size: rem(24);
          font-weight: 700;
          line-height: 110%;
        }
        .list {
        }
        li {
          display: flex;
          align-items: center;
          gap: rem(11);
          span {
            font-size: rem(18);
            line-height: 160%;
          }
          svg {
            rect {
            }
          }
        }
      }
    }
  }
}

.footer {
  padding: rem(24) 0;
  background-color: var(--bg-dark);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(16);

    @media (max-width: rem(576)) {
      flex-direction: column;
    }
    .footer__left.left-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: rem(42);
      row-gap: rem(10);
      .footer__logo {
        svg {
          width: rem(178);

          @media (max-width: rem(576)) {
            max-width: rem(120);
            width: 100%;
          }
        }

        &:hover {
        }
        &:active {
        }
        &:focus {
        }
      }

      svg {
        path {
        }
      }
    }
    .footer__right.right-footer {
      .footer__nav.nav-footer {
      }
      .list-footer {
        display: flex;
        gap: rem(57);
        &__link {
        }
      }
    }
  }
}

.contact {
  padding-top: rem(46);
  padding-bottom: rem(97);
  @include adaptiveValue("padding-top", 46, 30);
  @include adaptiveValue("padding-bottom", 97, 30);
  background-color: var(--blue-light);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(33);

    .contact__top.top-contact {
      svg {
      }
    }
    .contact__middle.middle-contact {
      display: flex;
      flex-direction: column;
      gap: rem(19);

      h2 {
        font-size: rem(80);
        @include adaptiveValue("font-size", 80, 40);
        font-weight: 700;
        color: #1c244b;
        text-align: center;
      }

      p {
        @include adaptiveValue("font-size", 28, 20);
        font-weight: 600;
        text-align: center;
        color: #172640;
      }
    }
    .contact__bottom.bottom-contact {
    }
  }
}

.bottom-contact {
  display: flex;
  gap: rem(49);
  padding: rem(45) rem(23);
  border-radius: rem(6.7);
  background: #f1f1f1;
  box-shadow: 14px 19px 42.1px 0px rgba(16, 28, 66, 0.4);

  @media (max-width: rem(576)) {
    flex-direction: column;
    gap: rem(15);
  }
  &__right {
    flex: 0 0 calc(50% - rem(24));
    display: flex;
    flex-wrap: wrap;
    gap: rem(12);

    input {
      flex: 1 1 calc(50% - rem(6));
      border-radius: rem(4.5);
      padding: rem(10) rem(17);
      border: 0.748px solid #c5cad1;
      background: #fff;

      &::placeholder {
        color: #576675;
      }

      //   &:last-child {
      //     flex: 0 0 100%;
      //   }
    }
  }
  &__left {
    flex: 0 0 calc(50% - rem(24));
    display: flex;
    flex-direction: column;
    gap: rem(16);

    a {
      text-decoration: underline;
    }
    textarea {
      resize: none;
      width: 100%;
      height: 80px;
      padding: rem(10) rem(12);
      border-radius: rem(4.5);
      border: 0.748px solid #c5cad1;
      background: #fff;
    }
    .bottom-contact__checkbox {
      color: var(--black);
      input {
      }
    }
    .btn.blue {
      &:hover {
      }
      &:active {
      }
      &:focus {
      }
    }
  }
}

.date {
  @include adaptiveValue("padding-top", 120, 30);
  @include adaptiveValue("padding-bottom", 120, 30);
  position: relative;
  background: var(--bg-dark);
  overflow: hidden;

  .parallax-container {
    content: "";
    position: absolute;
    background: url("../assets/date-bg.png") center 0 no-repeat;
    background-size: contain;
    width: percentage(615/ 1440);
    height: percentage(650 / 507);
    z-index: 2;
    right: 0;
    bottom: 0;
    transform: translate(percentage(166 / 615), percentage(127 / 600));

    @media (max-width: rem(768)) {
      display: none;
    }
  }

  &::before {
    content: "";
    width: 50vw;
    height: 50vw;
    max-width: 730px;
    max-height: 730px;
    border-radius: 100%;
    background-color: var(--bg-light);
    position: absolute;
    left: 0;
    transform: translate(-50%, calc(50% - 11%));
    bottom: 0;
    background: conic-gradient(
      var(--bg-light) 0deg 90deg,
      transparent 90deg 360deg
    );

    @media (max-width: rem(768)) {
      display: none;
    }
  }

  &::after {
    content: "";
    width: 19.86vw;
    height: 19.86vw;
    max-height: 286px;
    max-width: 286px;
    border-radius: 100%;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    transform: translate(-8.3%, calc(50% - 10.4%));
    bottom: 0;
    background: conic-gradient(
      var(--primary) 0deg 90deg,
      transparent 90deg 360deg
    );

    @media (max-width: rem(768)) {
      display: none;
    }
  }

  &__container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: #150445;
      font-size: rem(24);
    }
    h2 {
      font-size: rem(80);
      line-height: percentage(85/80);
      font-weight: 700;
      margin-top: rem(8);

      @media (max-width: rem(767)) {
        font-size: rem(50);
      }
    }
    p {
      font-size: rem(28);
      font-weight: 600;
      line-height: 130%;
      margin-top: rem(17);
      text-align: center;
    }
    button {
      margin-top: rem(40);
    }
    .btn.black {
      &:hover {
      }
      &:active {
      }
      &:focus {
      }
    }
  }
}

.why-us {
  @include adaptiveValue("padding-top", 168, 30);
  @include adaptiveValue("padding-bottom", 236, 30);
  background: var(--bg-dark) url("../assets/why-us-wave.svg") top right
    no-repeat;
  background-size: cover;
  &__container {
    @media (max-width: rem(992)) {
      display: flex;
      flex-direction: column;
      gap: rem(30);
      align-items: center;
    }
    .why-us__logo {
      padding: rem(109) rem(141);
      @include adaptiveValue("padding-top", 109, 15);
      @include adaptiveValue("padding-bottom", 109, 15);
      @include adaptiveValue("padding-right", 141, 30);
      @include adaptiveValue("padding-left", 141, 30);
      max-width: rem(675);
      box-shadow: 0px 16.381px 22.785px 0px rgba(98, 143, 185, 0.43);
      border-radius: rem(24.57);
      background: var(--white);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: rem(992)) {
        margin-right: auto;
      }
      svg {
      }
    }
    .why-us__block {
      position: relative;
      z-index: 2;
      transform: translateY(rem(-73));
      padding: rem(73) rem(85);
      @include adaptiveValue("padding-top", 73, 15);
      @include adaptiveValue("padding-bottom", 73, 15);
      @include adaptiveValue("padding-right", 85, 30);
      @include adaptiveValue("padding-left", 85, 30);

      @media (max-width: rem(992)) {
        position: static;
        transform: none;
      }
      background: var(--white);

      box-shadow: 0px 16.381px 22.785px 0px rgba(98, 143, 185, 0.43);
      border-radius: rem(24.57);
      max-width: 677px;
      h2 {
        @include adaptiveValue("font-size", 48, 32);
        line-height: 110%;
        color: var(--blue-gray-900);
        font-weight: 700;
      }

      p {
        @include adaptiveValue("font-size", 20, 16);
        font-weight: 400;
        line-height: 160%;
        color: var(--blue-gray-900);
      }
    }
  }
}

.get {
  overflow: hidden;
  @include adaptiveValue("padding-top", 77, 30);
  @include adaptiveValue("padding-bottom", 33, 30);
  background: var(--bg-light) url("../assets/get-wave.svg") bottom right
    no-repeat;
  background-size: cover;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue("gap", 79, 30);
    h2 {
      @include adaptiveValue("font-size", 80, 40);
      font-weight: 700;
      line-height: 85%;
    }
    .list-get {
      display: flex;
      gap: rem(20);
      flex-wrap: nowrap;
      justify-content: center;
      margin-top: rem(79);

      @media (max-width: rem(767)) {
        flex-wrap: wrap;
        margin-top: 0;
      }

      .item-list-get {
        color: var(--blue-gray-900);
        position: relative;

        @media (max-width: rem(767)) {
          display: flex;
          align-items: center;
          flex-direction: column;
          background-color: var(--white);
          padding: rem(15);
          position: static;
          border-radius: rem(20);
        }
        &__svg {
          height: 100%;
          position: absolute;
          padding: rem(15);
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          background: var(--primary);
          max-width: rem(196);
          width: 100%;
          border-radius: rem(18);
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white);
          justify-content: space-between;

          @media (max-width: rem(767)) {
            transform: none;
            position: relative;
            left: 0;
          }

          &.graph {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: rem(10);

            .title {
              font-size: rem(11.5);
              line-height: 133%;
            }

            .value {
              font-size: rem(20);
              font-weight: 600;
            }

            .percent {
              padding: rem(4) rem(8);
              border-radius: rem(5.1);
              background: #1b5c47;
              font-size: rem(9);
            }

            svg {
              margin: 0 rem(-15);
              width: calc(100% + rem(30));
              max-width: unset;
            }
          }

          &.accessibility {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: rem(10);

            .title {
              font-size: rem(11.5);
              line-height: 133%;
            }

            .value {
              font-size: rem(20);
              font-weight: 600;
            }
          }

          &.circle {
            .value {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: rem(32);
              font-weight: 600;
              color: var(--white);
            }
          }
        }
        &__content {
          padding: rem(30);
          padding-top: rem(100);
          background-color: var(--white);
          border-radius: rem(20);
          text-align: center;

          @media (max-width: rem(767)) {
            padding-top: rem(30);
          }

          h4 {
            font-size: rem(24);
            font-weight: 700;
            line-height: 110%;
            margin-top: rem(36);
          }

          p {
            font-size: rem(18);
            font-weight: 400;
            line-height: 160%;
          }
        }
        h4 {
        }
      }
    }
    .btn.black {
      &:hover {
      }
      &:active {
      }
      &:focus {
      }
    }
  }
}
