@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");
:root {
  --bg-dark: #0f6289;
  --bg-light: #0077a6;
  --white: #fff;
  --grey-500: #576675;
  --blue-light: rgba(183, 229, 252, 0.57);
  --black: #000;
  --blue-gray-900: #0f172a;
  --primary: #83b974;
}

html {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  text-align: right;
  color: var(--white);
  font-size: 1rem;
}

.container {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 0.9375rem 3.3125rem;
  background-color: var(--bg-light);
  border: none;
  border-radius: 0.4271875rem;
  font-weight: 700;
  line-height: 128.15625%;
  color: var(--white);
  cursor: pointer;
  border: 0.1068125rem solid transparent;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: var(--primary);
    color: var(--blue-gray-900);
  }
}
.btn.black {
  background-color: var(--blue-gray-900);
  border-color: var(--black);
}
@media (any-hover: hover) {
  .btn.black:hover {
    background-color: var(--primary);
  }
}

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(var(--bg-dark), 0.3);
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}
@supports (padding-top: clamp( 0.5rem , 0.0581395349rem  +  2.2093023256vw , 1.6875rem )) {
  .header {
    padding-top: clamp( 0.5rem , 0.0581395349rem  +  2.2093023256vw , 1.6875rem );
  }
}
@supports not (padding-top: clamp( 0.5rem , 0.0581395349rem  +  2.2093023256vw , 1.6875rem )) {
  .header {
    padding-top: calc(0.5rem + 1.1875 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-bottom: clamp( 0.5rem , 0.0581395349rem  +  2.2093023256vw , 1.6875rem )) {
  .header {
    padding-bottom: clamp( 0.5rem , 0.0581395349rem  +  2.2093023256vw , 1.6875rem );
  }
}
@supports not (padding-bottom: clamp( 0.5rem , 0.0581395349rem  +  2.2093023256vw , 1.6875rem )) {
  .header {
    padding-bottom: calc(0.5rem + 1.1875 * (100vw - 20rem) / 53.75);
  }
}
.header__container {
  display: flex;
  justify-content: flex-end;
}
.highlighted-text {
  position: relative;
  font-size: 20px;
  line-height: 1.5em; /* Fixed line height */
  color: black;
}

.highlighted-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(0deg, rgba(255, 235, 59, 0.6), rgba(255, 235, 59, 0.6) calc(1.5em - 1px), transparent 1.5em);
  z-index: -1; /* Sends background behind text */
  pointer-events: none;
}

@keyframes fadeInText {
  0% {
    opacity: 0.1;
    transform: translateX(-20px); /* Start lower */
    width: 6.25rem;
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at natural position */
    width: 100%;
  }
}
@keyframes textAnim {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes desktopAnim {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
.hero {
  overflow: hidden;
  position: relative;
  background: var(--bg-light) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="964" height="780" viewBox="0 0 964 780" fill="none"><path d="M0 851C612 851 320.5 0 964 0H0V851Z" fill="%232A8079" fill-opacity="0.2"/></svg>') no-repeat top left;
  background-size: auto;
}
@supports (padding-top: clamp( 4.0625rem , 2.085755814rem  +  9.8837209302vw , 9.375rem )) {
  .hero {
    padding-top: clamp( 4.0625rem , 2.085755814rem  +  9.8837209302vw , 9.375rem );
  }
}
@supports not (padding-top: clamp( 4.0625rem , 2.085755814rem  +  9.8837209302vw , 9.375rem )) {
  .hero {
    padding-top: calc(4.0625rem + 5.3125 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 0.7122093023rem  +  5.8139534884vw , 5rem )) {
  .hero {
    padding-bottom: clamp( 1.875rem , 0.7122093023rem  +  5.8139534884vw , 5rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 0.7122093023rem  +  5.8139534884vw , 5rem )) {
  .hero {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 53.75);
  }
}
@media (max-width: 62rem) {
  .hero::before {
    content: "";
    display: none;
  }
}
.hero hr {
  height: 25px;
  max-width: 75.625rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
  margin-top: 6.875rem;
  background: #d9d9d9;
}
.hero::before {
  content: "";
  background: url("../assets/hero-desktop.png") 0 0 no-repeat;
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
  animation: desktopAnim 1s ease-out forwards;
}
.hero__quote {
  margin-top: 3.75rem;
  max-width: 36.25rem;
  max-height: 10rem;
  background-color: var(--white);
  border-radius: 0.975rem;
  padding: 1.3125rem 1.875rem;
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  font-size: 1.125rem;
  color: var(--black);
  line-height: 1.6; /* Matches the height of the background */
  box-shadow: 0px 0px 19.513px 0px rgba(0, 0, 0, 0.15);
  animation: fadeInText 1.5s 0.6s ease-out forwards; /* Animation */
  opacity: 0.1;
  transform: translateX(-20px); /* Start lower */
  width: 6.25rem;
}
@media (max-width: 62rem) {
  .hero__quote {
    display: none;
  }
}
.hero__quote p {
  opacity: 0;
  pointer-events: none;
  display: inline-block;
  animation: textAnim 1.5s 0.6s ease-out forwards; /* Animation */
}
.hero__quote svg {
  flex: 0 0 28px;
}
.hero__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 62rem) {
  .hero__container {
    display: block;
  }
}
.hero__container .right-hero {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-start;
}
@media (max-width: 62rem) {
  .hero__container .right-hero {
    align-items: center;
    text-align: center;
  }
}
.hero__container .right-hero__title {
  line-height: 110%;
  font-size: 3rem;
  font-weight: 700;
}
@supports (font-size: clamp( 2rem , 1.6279069767rem  +  1.8604651163vw , 3rem )) {
  .hero__container .right-hero__title {
    font-size: clamp( 2rem , 1.6279069767rem  +  1.8604651163vw , 3rem );
  }
}
@supports not (font-size: clamp( 2rem , 1.6279069767rem  +  1.8604651163vw , 3rem )) {
  .hero__container .right-hero__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 53.75);
  }
}
.hero__container .right-hero__label {
  font-size: 5rem;
  font-weight: 700;
  line-height: 85%;
  padding: 1.1875rem 2.5rem;
  box-shadow: 0px 0px 17.087px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--primary);
}
@supports (font-size: clamp( 2.625rem , 1.7412790698rem  +  4.4186046512vw , 5rem )) {
  .hero__container .right-hero__label {
    font-size: clamp( 2.625rem , 1.7412790698rem  +  4.4186046512vw , 5rem );
  }
}
@supports not (font-size: clamp( 2.625rem , 1.7412790698rem  +  4.4186046512vw , 5rem )) {
  .hero__container .right-hero__label {
    font-size: calc(2.625rem + 2.375 * (100vw - 20rem) / 53.75);
  }
}
.hero__container .right-hero__subtitle {
  max-width: 580px;
  font-size: 1.25rem;
  line-height: 160%;
}
@supports (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .hero__container .right-hero__subtitle {
    font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .hero__container .right-hero__subtitle {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 53.75);
  }
}
.web {
  background: var(--bg-light) url("../assets/bg-desktop.svg") center 200px no-repeat;
}
.web__container img {
  box-shadow: 34.854px 29.626px 48.34px 0px rgba(16, 28, 66, 0.4);
}

.check {
  position: relative;
  background: var(--bg-light);
}
@supports (padding-top: clamp( 1.875rem , -0.9156976744rem  +  13.9534883721vw , 9.375rem )) {
  .check {
    padding-top: clamp( 1.875rem , -0.9156976744rem  +  13.9534883721vw , 9.375rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , -0.9156976744rem  +  13.9534883721vw , 9.375rem )) {
  .check {
    padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 0.7819767442rem  +  5.4651162791vw , 4.8125rem )) {
  .check {
    padding-bottom: clamp( 1.875rem , 0.7819767442rem  +  5.4651162791vw , 4.8125rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 0.7819767442rem  +  5.4651162791vw , 4.8125rem )) {
  .check {
    padding-bottom: calc(1.875rem + 2.9375 * (100vw - 20rem) / 53.75);
  }
}
.check .illustration {
  position: absolute;
  left: 0;
  top: -15%;
  z-index: 3;
}
.check .illustration svg {
  width: 100%;
}
.check__container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 5;
}
@media (max-width: 62rem) {
  .check__container .left {
    display: none;
  }
}
.check__container .chech__top.top-check h2 {
  font-weight: 700;
  line-height: 85%;
}
@supports (font-size: clamp( 2.5rem , 1.5697674419rem  +  4.6511627907vw , 5rem )) {
  .check__container .chech__top.top-check h2 {
    font-size: clamp( 2.5rem , 1.5697674419rem  +  4.6511627907vw , 5rem );
  }
}
@supports not (font-size: clamp( 2.5rem , 1.5697674419rem  +  4.6511627907vw , 5rem )) {
  .check__container .chech__top.top-check h2 {
    font-size: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.75);
  }
}
.check__container .chech__top.top-check p {
  margin-top: 0.9375rem;
  font-weight: 400;
  line-height: 180%;
}
@supports (font-size: clamp( 1.125rem , 0.9854651163rem  +  0.6976744186vw , 1.5rem )) {
  .check__container .chech__top.top-check p {
    font-size: clamp( 1.125rem , 0.9854651163rem  +  0.6976744186vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.9854651163rem  +  0.6976744186vw , 1.5rem )) {
  .check__container .chech__top.top-check p {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 53.75);
  }
}
.check__container .bottom-check {
  display: grid;
  grid-template-columns: repeat(2, minmax(17.5rem, 23.75rem));
  align-items: start;
  gap: 1.40625rem;
}
@media (max-width: 47.9375rem) {
  .check__container .bottom-check {
    grid-template-columns: 1fr;
    margin-top: 1.875rem;
  }
}
.check__container .bottom-check__element {
  height: auto;
  border-radius: 1.25rem;
  box-shadow: 34.854px 29.626px 48.34px 0px rgba(16, 28, 66, 0.4);
  padding: 2.5rem 1.875rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  color: var(--blue-gray-900);
}
.check__container .bottom-check__element:nth-child(1) {
  margin-top: 8.25rem;
}
.check__container .bottom-check__element:nth-child(2) {
  margin-top: 0rem;
}
.check__container .bottom-check__element:nth-child(4) {
  margin-top: -6.25rem;
}
.check__container .bottom-check__element:nth-child(3) {
  margin-top: 1.40625rem;
}
@media (max-width: 47.9375rem) {
  .check__container .bottom-check__element:nth-child(1) {
    margin-top: 0rem;
  }
  .check__container .bottom-check__element:nth-child(2) {
    margin-top: 0rem;
  }
  .check__container .bottom-check__element:nth-child(4) {
    margin-top: 0rem;
  }
  .check__container .bottom-check__element:nth-child(3) {
    margin-top: 0rem;
  }
}
.check__container .bottom-check__element .icon {
  width: 5.125rem;
  height: 5.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  background-color: var(--bg-light);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .check__container .bottom-check__element .icon:hover {
    width: 6.25rem;
    height: 6.25rem;
  }
}
.check__container .bottom-check__element .title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 110%;
}
.check__container .bottom-check__element li {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
}
.check__container .bottom-check__element li span {
  font-size: 1.125rem;
  line-height: 160%;
}
.footer {
  padding: 1.5rem 0;
  background-color: var(--bg-dark);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 36rem) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__container .footer__left.left-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 2.625rem;
       column-gap: 2.625rem;
  row-gap: 0.625rem;
}
.footer__container .footer__left.left-footer .footer__logo svg {
  width: 11.125rem;
}
@media (max-width: 36rem) {
  .footer__container .footer__left.left-footer .footer__logo svg {
    max-width: 7.5rem;
    width: 100%;
  }
}
.footer__container .footer__right.right-footer .list-footer {
  display: flex;
  gap: 3.5625rem;
}
.contact {
  padding-top: 2.875rem;
  padding-bottom: 6.0625rem;
  background-color: var(--blue-light);
}
@supports (padding-top: clamp( 1.875rem , 1.5029069767rem  +  1.8604651163vw , 2.875rem )) {
  .contact {
    padding-top: clamp( 1.875rem , 1.5029069767rem  +  1.8604651163vw , 2.875rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , 1.5029069767rem  +  1.8604651163vw , 2.875rem )) {
  .contact {
    padding-top: calc(1.875rem + 1 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 0.3168604651rem  +  7.7906976744vw , 6.0625rem )) {
  .contact {
    padding-bottom: clamp( 1.875rem , 0.3168604651rem  +  7.7906976744vw , 6.0625rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 0.3168604651rem  +  7.7906976744vw , 6.0625rem )) {
  .contact {
    padding-bottom: calc(1.875rem + 4.1875 * (100vw - 20rem) / 53.75);
  }
}
.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.0625rem;
}
.contact__container .contact__middle.middle-contact {
  display: flex;
  flex-direction: column;
  gap: 1.1875rem;
}
.contact__container .contact__middle.middle-contact h2 {
  font-size: 5rem;
  font-weight: 700;
  color: #1c244b;
  text-align: center;
}
@supports (font-size: clamp( 2.5rem , 1.5697674419rem  +  4.6511627907vw , 5rem )) {
  .contact__container .contact__middle.middle-contact h2 {
    font-size: clamp( 2.5rem , 1.5697674419rem  +  4.6511627907vw , 5rem );
  }
}
@supports not (font-size: clamp( 2.5rem , 1.5697674419rem  +  4.6511627907vw , 5rem )) {
  .contact__container .contact__middle.middle-contact h2 {
    font-size: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.75);
  }
}
.contact__container .contact__middle.middle-contact p {
  font-weight: 600;
  text-align: center;
  color: #172640;
}
@supports (font-size: clamp( 1.25rem , 1.0639534884rem  +  0.9302325581vw , 1.75rem )) {
  .contact__container .contact__middle.middle-contact p {
    font-size: clamp( 1.25rem , 1.0639534884rem  +  0.9302325581vw , 1.75rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 1.0639534884rem  +  0.9302325581vw , 1.75rem )) {
  .contact__container .contact__middle.middle-contact p {
    font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 53.75);
  }
}
.bottom-contact {
  display: flex;
  gap: 3.0625rem;
  padding: 2.8125rem 1.4375rem;
  border-radius: 0.41875rem;
  background: #f1f1f1;
  box-shadow: 14px 19px 42.1px 0px rgba(16, 28, 66, 0.4);
}
@media (max-width: 36rem) {
  .bottom-contact {
    flex-direction: column;
    gap: 0.9375rem;
  }
}
.bottom-contact__right {
  flex: 0 0 calc(50% - 1.5rem);
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.bottom-contact__right input {
  flex: 1 1 calc(50% - 0.375rem);
  border-radius: 0.28125rem;
  padding: 0.625rem 1.0625rem;
  border: 0.748px solid #c5cad1;
  background: #fff;
}
.bottom-contact__right input::-moz-placeholder {
  color: #576675;
}
.bottom-contact__right input::placeholder {
  color: #576675;
}
.bottom-contact__left {
  flex: 0 0 calc(50% - 1.5rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bottom-contact__left a {
  text-decoration: underline;
}
.bottom-contact__left textarea {
  resize: none;
  width: 100%;
  height: 80px;
  padding: 0.625rem 0.75rem;
  border-radius: 0.28125rem;
  border: 0.748px solid #c5cad1;
  background: #fff;
}
.bottom-contact__left .bottom-contact__checkbox {
  color: var(--black);
}
.date {
  position: relative;
  background: var(--bg-dark);
  overflow: hidden;
}
@supports (padding-top: clamp( 1.875rem , -0.2180232558rem  +  10.4651162791vw , 7.5rem )) {
  .date {
    padding-top: clamp( 1.875rem , -0.2180232558rem  +  10.4651162791vw , 7.5rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , -0.2180232558rem  +  10.4651162791vw , 7.5rem )) {
  .date {
    padding-top: calc(1.875rem + 5.625 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-bottom: clamp( 1.875rem , -0.2180232558rem  +  10.4651162791vw , 7.5rem )) {
  .date {
    padding-bottom: clamp( 1.875rem , -0.2180232558rem  +  10.4651162791vw , 7.5rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , -0.2180232558rem  +  10.4651162791vw , 7.5rem )) {
  .date {
    padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 53.75);
  }
}
.date .parallax-container {
  content: "";
  position: absolute;
  background: url("../assets/date-bg.png") center 0 no-repeat;
  background-size: contain;
  width: 42.7083333333%;
  height: 128.2051282051%;
  z-index: 2;
  right: 0;
  bottom: 0;
  transform: translate(26.9918699187%, 21.1666666667%);
}
@media (max-width: 48rem) {
  .date .parallax-container {
    display: none;
  }
}
.date::before {
  content: "";
  width: 50vw;
  height: 50vw;
  max-width: 730px;
  max-height: 730px;
  border-radius: 100%;
  background-color: var(--bg-light);
  position: absolute;
  left: 0;
  transform: translate(-50%, 39%);
  bottom: 0;
  background: conic-gradient(var(--bg-light) 0deg 90deg, transparent 90deg 360deg);
}
@media (max-width: 48rem) {
  .date::before {
    display: none;
  }
}
.date::after {
  content: "";
  width: 19.86vw;
  height: 19.86vw;
  max-height: 286px;
  max-width: 286px;
  border-radius: 100%;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  transform: translate(-8.3%, 39.6%);
  bottom: 0;
  background: conic-gradient(var(--primary) 0deg 90deg, transparent 90deg 360deg);
}
@media (max-width: 48rem) {
  .date::after {
    display: none;
  }
}
.date__container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date__container span {
  color: #150445;
  font-size: 1.5rem;
}
.date__container h2 {
  font-size: 5rem;
  line-height: 106.25%;
  font-weight: 700;
  margin-top: 0.5rem;
}
@media (max-width: 47.9375rem) {
  .date__container h2 {
    font-size: 3.125rem;
  }
}
.date__container p {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 130%;
  margin-top: 1.0625rem;
  text-align: center;
}
.date__container button {
  margin-top: 2.5rem;
}
.why-us {
  background: var(--bg-dark) url("../assets/why-us-wave.svg") top right no-repeat;
  background-size: cover;
}
@supports (padding-top: clamp( 1.875rem , -1.3343023256rem  +  16.0465116279vw , 10.5rem )) {
  .why-us {
    padding-top: clamp( 1.875rem , -1.3343023256rem  +  16.0465116279vw , 10.5rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , -1.3343023256rem  +  16.0465116279vw , 10.5rem )) {
  .why-us {
    padding-top: calc(1.875rem + 8.625 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-bottom: clamp( 1.875rem , -2.9156976744rem  +  23.9534883721vw , 14.75rem )) {
  .why-us {
    padding-bottom: clamp( 1.875rem , -2.9156976744rem  +  23.9534883721vw , 14.75rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , -2.9156976744rem  +  23.9534883721vw , 14.75rem )) {
  .why-us {
    padding-bottom: calc(1.875rem + 12.875 * (100vw - 20rem) / 53.75);
  }
}
@media (max-width: 62rem) {
  .why-us__container {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    align-items: center;
  }
}
.why-us__container .why-us__logo {
  padding: 6.8125rem 8.8125rem;
  max-width: 42.1875rem;
  box-shadow: 0px 16.381px 22.785px 0px rgba(98, 143, 185, 0.43);
  border-radius: 1.535625rem;
  background: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@supports (padding-top: clamp( 0.9375rem , -1.2485465116rem  +  10.9302325581vw , 6.8125rem )) {
  .why-us__container .why-us__logo {
    padding-top: clamp( 0.9375rem , -1.2485465116rem  +  10.9302325581vw , 6.8125rem );
  }
}
@supports not (padding-top: clamp( 0.9375rem , -1.2485465116rem  +  10.9302325581vw , 6.8125rem )) {
  .why-us__container .why-us__logo {
    padding-top: calc(0.9375rem + 5.875 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-bottom: clamp( 0.9375rem , -1.2485465116rem  +  10.9302325581vw , 6.8125rem )) {
  .why-us__container .why-us__logo {
    padding-bottom: clamp( 0.9375rem , -1.2485465116rem  +  10.9302325581vw , 6.8125rem );
  }
}
@supports not (padding-bottom: clamp( 0.9375rem , -1.2485465116rem  +  10.9302325581vw , 6.8125rem )) {
  .why-us__container .why-us__logo {
    padding-bottom: calc(0.9375rem + 5.875 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-right: clamp( 1.875rem , -0.7063953488rem  +  12.9069767442vw , 8.8125rem )) {
  .why-us__container .why-us__logo {
    padding-right: clamp( 1.875rem , -0.7063953488rem  +  12.9069767442vw , 8.8125rem );
  }
}
@supports not (padding-right: clamp( 1.875rem , -0.7063953488rem  +  12.9069767442vw , 8.8125rem )) {
  .why-us__container .why-us__logo {
    padding-right: calc(1.875rem + 6.9375 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-left: clamp( 1.875rem , -0.7063953488rem  +  12.9069767442vw , 8.8125rem )) {
  .why-us__container .why-us__logo {
    padding-left: clamp( 1.875rem , -0.7063953488rem  +  12.9069767442vw , 8.8125rem );
  }
}
@supports not (padding-left: clamp( 1.875rem , -0.7063953488rem  +  12.9069767442vw , 8.8125rem )) {
  .why-us__container .why-us__logo {
    padding-left: calc(1.875rem + 6.9375 * (100vw - 20rem) / 53.75);
  }
}
@media (min-width: 62rem) {
  .why-us__container .why-us__logo {
    margin-right: auto;
  }
}
.why-us__container .why-us__block {
  position: relative;
  z-index: 2;
  transform: translateY(-4.5625rem);
  padding: 4.5625rem 5.3125rem;
  background: var(--white);
  box-shadow: 0px 16.381px 22.785px 0px rgba(98, 143, 185, 0.43);
  border-radius: 1.535625rem;
  max-width: 677px;
}
@supports (padding-top: clamp( 0.9375rem , -0.4113372093rem  +  6.7441860465vw , 4.5625rem )) {
  .why-us__container .why-us__block {
    padding-top: clamp( 0.9375rem , -0.4113372093rem  +  6.7441860465vw , 4.5625rem );
  }
}
@supports not (padding-top: clamp( 0.9375rem , -0.4113372093rem  +  6.7441860465vw , 4.5625rem )) {
  .why-us__container .why-us__block {
    padding-top: calc(0.9375rem + 3.625 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-bottom: clamp( 0.9375rem , -0.4113372093rem  +  6.7441860465vw , 4.5625rem )) {
  .why-us__container .why-us__block {
    padding-bottom: clamp( 0.9375rem , -0.4113372093rem  +  6.7441860465vw , 4.5625rem );
  }
}
@supports not (padding-bottom: clamp( 0.9375rem , -0.4113372093rem  +  6.7441860465vw , 4.5625rem )) {
  .why-us__container .why-us__block {
    padding-bottom: calc(0.9375rem + 3.625 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-right: clamp( 1.875rem , 0.5959302326rem  +  6.3953488372vw , 5.3125rem )) {
  .why-us__container .why-us__block {
    padding-right: clamp( 1.875rem , 0.5959302326rem  +  6.3953488372vw , 5.3125rem );
  }
}
@supports not (padding-right: clamp( 1.875rem , 0.5959302326rem  +  6.3953488372vw , 5.3125rem )) {
  .why-us__container .why-us__block {
    padding-right: calc(1.875rem + 3.4375 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-left: clamp( 1.875rem , 0.5959302326rem  +  6.3953488372vw , 5.3125rem )) {
  .why-us__container .why-us__block {
    padding-left: clamp( 1.875rem , 0.5959302326rem  +  6.3953488372vw , 5.3125rem );
  }
}
@supports not (padding-left: clamp( 1.875rem , 0.5959302326rem  +  6.3953488372vw , 5.3125rem )) {
  .why-us__container .why-us__block {
    padding-left: calc(1.875rem + 3.4375 * (100vw - 20rem) / 53.75);
  }
}
@media (max-width: 62rem) {
  .why-us__container .why-us__block {
    position: static;
    transform: none;
  }
}
.why-us__container .why-us__block h2 {
  line-height: 110%;
  color: var(--blue-gray-900);
  font-weight: 700;
}
@supports (font-size: clamp( 2rem , 1.6279069767rem  +  1.8604651163vw , 3rem )) {
  .why-us__container .why-us__block h2 {
    font-size: clamp( 2rem , 1.6279069767rem  +  1.8604651163vw , 3rem );
  }
}
@supports not (font-size: clamp( 2rem , 1.6279069767rem  +  1.8604651163vw , 3rem )) {
  .why-us__container .why-us__block h2 {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 53.75);
  }
}
.why-us__container .why-us__block p {
  font-weight: 400;
  line-height: 160%;
  color: var(--blue-gray-900);
}
@supports (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .why-us__container .why-us__block p {
    font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
  .why-us__container .why-us__block p {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 53.75);
  }
}

.get {
  overflow: hidden;
  background: var(--bg-light) url("../assets/get-wave.svg") bottom right no-repeat;
  background-size: cover;
}
@supports (padding-top: clamp( 1.875rem , 0.7819767442rem  +  5.4651162791vw , 4.8125rem )) {
  .get {
    padding-top: clamp( 1.875rem , 0.7819767442rem  +  5.4651162791vw , 4.8125rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , 0.7819767442rem  +  5.4651162791vw , 4.8125rem )) {
  .get {
    padding-top: calc(1.875rem + 2.9375 * (100vw - 20rem) / 53.75);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 1.8052325581rem  +  0.3488372093vw , 2.0625rem )) {
  .get {
    padding-bottom: clamp( 1.875rem , 1.8052325581rem  +  0.3488372093vw , 2.0625rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 1.8052325581rem  +  0.3488372093vw , 2.0625rem )) {
  .get {
    padding-bottom: calc(1.875rem + 0.1875 * (100vw - 20rem) / 53.75);
  }
}
.get__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@supports (gap: clamp( 1.875rem , 0.7354651163rem  +  5.6976744186vw , 4.9375rem )) {
  .get__container {
    gap: clamp( 1.875rem , 0.7354651163rem  +  5.6976744186vw , 4.9375rem );
  }
}
@supports not (gap: clamp( 1.875rem , 0.7354651163rem  +  5.6976744186vw , 4.9375rem )) {
  .get__container {
    gap: calc(1.875rem + 3.0625 * (100vw - 20rem) / 53.75);
  }
}
.get__container h2 {
  font-weight: 700;
  line-height: 85%;
}
@supports (font-size: clamp( 2.5rem , 1.5697674419rem  +  4.6511627907vw , 5rem )) {
  .get__container h2 {
    font-size: clamp( 2.5rem , 1.5697674419rem  +  4.6511627907vw , 5rem );
  }
}
@supports not (font-size: clamp( 2.5rem , 1.5697674419rem  +  4.6511627907vw , 5rem )) {
  .get__container h2 {
    font-size: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.75);
  }
}
.get__container .list-get {
  display: flex;
  gap: 1.25rem;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 4.9375rem;
}
@media (max-width: 47.9375rem) {
  .get__container .list-get {
    flex-wrap: wrap;
    margin-top: 0;
  }
}
.get__container .list-get .item-list-get {
  color: var(--blue-gray-900);
  position: relative;
}
@media (max-width: 47.9375rem) {
  .get__container .list-get .item-list-get {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    padding: 0.9375rem;
    position: static;
    border-radius: 1.25rem;
  }
}
.get__container .list-get .item-list-get__svg {
  height: 100%;
  position: absolute;
  padding: 0.9375rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  max-width: 12.25rem;
  width: 100%;
  border-radius: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  justify-content: space-between;
}
@media (max-width: 47.9375rem) {
  .get__container .list-get .item-list-get__svg {
    transform: none;
    position: relative;
    left: 0;
  }
}
.get__container .list-get .item-list-get__svg.graph {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.625rem;
}
.get__container .list-get .item-list-get__svg.graph .title {
  font-size: 0.71875rem;
  line-height: 133%;
}
.get__container .list-get .item-list-get__svg.graph .value {
  font-size: 1.25rem;
  font-weight: 600;
}
.get__container .list-get .item-list-get__svg.graph .percent {
  padding: 0.25rem 0.5rem;
  border-radius: 0.31875rem;
  background: #1b5c47;
  font-size: 0.5625rem;
}
.get__container .list-get .item-list-get__svg.graph svg {
  margin: 0 -0.9375rem;
  width: calc(100% + 1.875rem);
  max-width: unset;
}
.get__container .list-get .item-list-get__svg.accessibility {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.625rem;
}
.get__container .list-get .item-list-get__svg.accessibility .title {
  font-size: 0.71875rem;
  line-height: 133%;
}
.get__container .list-get .item-list-get__svg.accessibility .value {
  font-size: 1.25rem;
  font-weight: 600;
}
.get__container .list-get .item-list-get__svg.circle .value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}
.get__container .list-get .item-list-get__content {
  padding: 1.875rem;
  padding-top: 6.25rem;
  background-color: var(--white);
  border-radius: 1.25rem;
  text-align: center;
}
@media (max-width: 47.9375rem) {
  .get__container .list-get .item-list-get__content {
    padding-top: 1.875rem;
  }
}
.get__container .list-get .item-list-get__content h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 110%;
  margin-top: 2.25rem;
}
.get__container .list-get .item-list-get__content p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}/*# sourceMappingURL=styles.css.map */